$icomoon-font-path: "fonts" !default;

$icon-chevron-d-bold: "\e997";
$icon-chevron-d-light: "\e998";
$icon-chevron-d-regular: "\e999";
$icon-chevron-l-bold: "\e800";
$icon-chevron-l-light: "\e801";
$icon-chevron-l-regular: "\e802";
$icon-chevron-r-bold: "\e803";
$icon-chevron-r-light: "\e804";
$icon-chevron-r-regular: "\e805";
$icon-chevron-u-bold: "\e806";
$icon-chevron-u-light: "\e807";
$icon-chevron-u-regular: "\e808";
$icon-cross-bold: "\e809";
$icon-cross-light: "\e810";
$icon-cross-regular: "\e811";
$icon-plus-bold: "\e812";
$icon-plus-light: "\e813";
$icon-plus-regular: "\e94f";
$icon-pdf-small: "\e814";
$icon-external-link: "\e815";
$icon-tick-bold: "\e827";
$icon-tick-light: "\e829";
$icon-tick-regular: "\e828";
$icon-triangle-u: "\e852";
$icon-triangle-d: "\e9853";
$icon-triangle-r: "\e854";
$icon-triangle-l: "\e855";
$icon-cog-14: "\e832";
$icon-globe-14: "\e833";
$icon-lock-14: "\e834";
$icon-calendar-14: "\e835";
$icon-coinstack-14: "\e836";
$icon-medal-14: "\e837";
$icon-calendar-plus-14: "\e838";
$icon-person-filled-14: "\e839";
$icon-search-14: "\e840";
$icon-mappin-filled-14: "\e841";
$icon-info-circle-filled-14: "\e842";
$icon-info-circle-14: "\e843";
$icon-warning-triangle-filled-14: "\e844";
$icon-warning-triangle-14: "\e845";
$icon-clock-14: "\e846";
$icon-computer-14: "\e847";
$icon-exit-left-14: "\e848";
$icon-person-circle-filled-14: "\e849";
$icon-download-14: "\e850";
$icon-squares-overlap-14: "\e851";
$icon-card-cvc: "\e903";
$icon-clipboard-tick: "\e900";
$icon-newspaper: "\e925";
$icon-letter-open: "\e905";
$icon-spyglass: "\e906";
$icon-select: "\e923";
$icon-person: "\e909";
$icon-check-mail: "\e90a";
$icon-help-circle: "\e90b";
$icon-person-lock: "\e90c";
$icon-letter: "\e90d";
$icon-smartphone: "\e90e";
$icon-eye: "\e90f";
$icon-circle-tick: "\e912";
$icon-info-circle: "\e914";
$icon-star: "\e908";
$icon-star-filled: "\e907";
$icon-ellipsis: "\e915";
$icon-warning-triangle-filled: "\e916";
$icon-warning-circle-filled: "\e913";
$icon-chart-plus: "\e917";
$icon-circle-minus: "\e918";
$icon-circle-plus: "\e919";
$icon-download: "\e91a";
$icon-spyglass-chart: "\e91b";
$icon-printer: "\e91c";
$icon-refresh: "\e91d";
$icon-cog: "\e91e";
$icon-person-plus: "\e91f";
$icon-coins-sterling: "\e920";
$icon-arrow-down: "\e901";
$icon-arrow-up: "\e902";
$icon-add: "\e910";
$icon-close: "\e911";
$icon-chart: "\e921";
$icon-market: "\e922";
$icon-hand-coins: "\e924";
$icon-globe: "\e926";
$icon-booklet-chart: "\e927";
$icon-computer: "\e928";
$icon-tick: "\e929";
$icon-hand: "\e930";
$icon-movie: "\e931";
$icon-down-sort: "\e932";
$icon-up-sort: "\e933";
$icon-chevron-down-s: "\e934";
$icon-chevron-up-s: "\e935";
$icon-chevron-down-m: "\e936";
$icon-chevron-up-m: "\e937";
$icon-menu-burger: "\e938";
$icon-no-entry: "\e939";
$icon-square: "\e940";
$icon-line: "\e941";
$icon-droplet: "\e942";
$icon-droplet-filled: "\e943";
$icon-droplet-alt: "\e944";
$icon-droplet-alt-filled: "\e945";
$icon-circle-right: "\e946";
$icon-circle-wave: "\e947";
$icon-circle-zig: "\e948";
$icon-piggybank: "\e949";
$icon-home: "\e950";
$icon-quantitative: "\e951";
$icon-hand-point: "\e952";
$icon-exit-right: "\e953";
$icon-calendar: "\e954";
$icon-clock: "\e955";
$icon-person-help: "\e956";
$icon-lock-tick: "\e957";
$icon-leaf: "\e958";
$icon-computer-tick: "\e959";
$icon-smartphone-chatbubble: "\e960";
$icon-coinstack-cog: "\e961";
$icon-chevron-left-m: "\e962";
$icon-chevron-right-m: "\e963";
$icon-pencil: "\e964";
$icon-tag: "\e965";
$icon-medal: "\e966";
$icon-bookmark-star: "\e967";
$icon-smartphone-flip: "\e968";
$icon-back: "\e969";
$icon-forward: "\e970";
$icon-pause: "\e971";
$icon-stop: "\e972";
$icon-play: "\e973";
$icon-map-pin: "\e974";
$icon-doc-spyglass: "\e975";
$icon-doc-pdf: "\e976";
$icon-hand-docs: "\e977";
$icon-doc-stacked: "\e978";
$icon-pencil-lock: "\e979";
$icon-paperclip: "\e980";
$icon-coinstack: "\e981";
$icon-controlpanel: "\e982";
$icon-browser-plus: "\e983";
$icon-chevron-right-s: "\e95f";
$icon-chevron-left-s: "\e985";
$icon-circle-filled: "\e986";
$icon-circle-dashed: "\e987";
$icon-bookmark-star-filled: "\e92a";
$icon-doc-csv: "\e989";
$icon-logo-facebook: "\e990";
$icon-logo-twitter: "\e991";
$icon-logo-xing: "\e992";
$icon-logo-googleplus: "\e993";
$icon-logo-linkedin: "\e994";
$icon-logo-youtube: "\e995";
$icon-messages-filled: "\e996";
$icon-openbook: "\e818";
$icon-doc-chevron-r: "\e819";
$icon-doc-arrow-d: "\e820";
$icon-share: "\e821";
$icon-share-filled: "\e822";
$icon-person-double: "\e823";
$icon-chatbubble: "\e824";
$icon-chatbubble-letter: "\e825";
$icon-chatbubble-letter-filled: "\e826";
$icon-calendar-circle-plus: "\e830";
$icon-mappin-filled: "\e831";

