.demo-loadingbox {
  height: 200px; width: 200px;
  display: inline-block;
  position: relative;
  .loadingSpinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.bg-white {
  background: #fff;
}
.bg-grey85 {
  background: $grey85;
}



$spinner-small-size: 16px;
$spinner-small-border: 2px;

$spinner-medium-size: 24px;
$spinner-medium-border: 3px;

$spinner-large-size: 48px;
$spinner-large-border: 4px;

$spin-duration: 750ms;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loadingSpinner:before {
  content: '';
  display: block;
  border-radius: 999px;
  border-style: solid;
  border-color: $blue2 $grey25 $grey25 $grey25;
  animation: spin $spin-duration infinite linear;
}

.loadingSpinner--small:before {
  height: $spinner-small-size; width: $spinner-small-size;
  border-width: $spinner-small-border;
}

.loadingSpinner--medium:before {
  height: $spinner-medium-size; width: $spinner-medium-size;
  border-width: $spinner-medium-border;
}

.loadingSpinner--large:before {
  height: $spinner-large-size; width: $spinner-large-size;
  border-width: $spinner-large-border;
}
