@import "variables";
@import "fonts";
@import "icon-style";
html {
  box-sizing: border-box;
  overflow-y: scroll !important;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body {
  margin: 0;
  padding: 0;
}

.bg-img-wrap {
    max-width: 1913px;
    height: 3436px;
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
}

.bg-img {
    width: 100%;
    height:100%;
    background-position: center;
    position: absolute;
    top: 0;
}

.bg-full-form {
    background-image: url('../assets/full-form.png');
}



.tabGroup {
  width: 1222px;
  height: 152px;

  margin: 139px auto 0 auto;
  position: relative;
  // background: salmon;
}

.tabGroup--scrollWrap {
  width: 1155px;
  height: 152px;
  padding-top:60px;
  overflow: hidden;
  position: relative;
  // background: salmon;
}

.tabGroup--scrollArea {
  position: absolute;
  width: 4000px;
  left: 0px;
}

.tabGroup--buttonWrap {
    position: absolute;
    right: 0;
    top: 60px;
    bottom: 0px;
    font-size: 0;

}
// .buttonWrap--errorContainer {
//   display: none;
//   &.contains-error {
//         content: '';
//         display: inline-block;
//         height: 100%;
//         width: 8px;
//         background: #f5d6d6;/*red2 20%tint*/
//     }
// }
.buttonWrap--errorWrap {
  position: absolute;
  top: -46px;
  left: -13px;
}
.tabGroup--errorContainer {
  opacity: 0;
  position: absolute;
  bottom: 0;
  height: 92px;
  width: 8px;
  background: #f5d6d6;/*red2 20%tint*/
  z-index: 20;
  // &.contains-error {
  //   display: block;
  // }
}
.tabGroup--errorContainer__left {
  left: 0;
}
.tabGroup--errorContainer__right {
  right: 75px;
}

.tabGroup--button {
    padding: 0 18px;
    height: 100%;
    display: inline-block;
    font-size: 24px;
    color: $blue2;
    background: $white;
    position: relative;
    cursor: pointer;
    border: 1px solid $grey25;
    &:hover {
      background-color: $blue2;
      color: $white;
    }
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

}

.tabGroup--button__left {
  border-right: none;
}
.tabGroup--button__right {

}
.tab {
  width: 232px;
  padding: 10px 14px;
  float: left;
  border-left: 1px solid $grey25;
  border-bottom: 1px solid $grey25;
  border-top: 1px solid $grey25;
  background: $white;
  position: relative;
  &:last-child {
    border-right: 1px solid $grey25;
  }
  &:before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0px;
    right: 0px;
    display: block;
    // background: salmon;
    height: 4px;
  }
}

.tab__blue {
  &:before {
    background: #6893b0;
  }
}

.tab__purple {
  &:before {
    background: #6f259e;
  }
}
.tab__green{
  &:before {
    background: #31dec7
  }
}

.tab__brown {
  &:before {
    background: #653e08
  }
}
.tab__inactive {
  background: $grey3;
  .tab--textrow {
    color: $grey60;
  }
}

.tab__active {
  background: $white;
  &:before {
    content: '';
    position: absolute;
    top: -7px;
    left: -1px;
    right: 0px;
    display: block;
    // background: green;
    height: 10px;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0px;
    right: 0px;
    display: block;
    background: white;
    height: 2px;
  }
}
.tab__error {
    background: #faeaea;
}
.tab--errorWrap {
  position: absolute;
  top: -47px;
  left: 12px;
  right: 12px;
}
.tab--textrow {
  display: block;
  width: 100%;
  text-overflow: ellipsis;
}

.tab--textrow__1 {
  font-size: 26px;
  line-height: 30px;
  font-weight: 300;
  color: $grey85;
  font-family: $body-font-family;

}

.tab--textrow__2 {
  font-family: $web-safe-font;
  font-size: 12px;
  line-height: 20px;
  font-style: italic;
  color: $grey60;

}

.tab--textrow__3 {
  font-family: $web-safe-font;
  font-size: 12px;
  line-height: 20px;
  color: $grey60;
}

.errorWrap {
  width: 1222px;
  position: relative;
  margin: 1616px auto 0px auto;
  padding-left: 21px;
}
.errorWrap2 {
  width: 1222px;
  position: relative;
  margin: 74px auto 0px auto;
  padding-left: 665px;
}

.errorMarker {
  position: relative;
  display: table;
  cursor: help;

}
.errorMarker--floating {
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.2);
}
.errorMarker--slideOut {
  overflow: hidden;
}
  // &.hide {
  //   opacity: 0;
  // }

.errorMarker--icon {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 24px;
  padding: 6px;
  position: relative;
  z-index: 10;
}
.triangle-arrow__top {
  position: absolute;
  height: 0;
  width: 0;
  top: -12px;
  left: 12px;
  border-style: solid;
  border-width: 6px;
  border-color: transparent transparent $red1 transparent;
}
.triangle-arrow__bottom {
  position: absolute;
  height: 0;
  width: 0;
  bottom: -12px;
  left: 12px;
  border-style: solid;
  border-width: 6px;
  border-color:  $red1 transparent transparent transparent;
}
.errorMarker--messageWrap {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  padding: 4px 14px;

  &.message-is-right {
      transform: translate(-100%, 0%);
  }
}


.errorMarker--icon__red {
  background: $red1;
  color: $white;
}
.errorMarker--messageWrap__red {
  background: #f5d6d6;/*red2 20%tint*/
}
.errorMarker--icon__yellow {
  background: $yellow1;
  color: $black;
}
.errorMarker--messageWrap__yellow {
  background: #fcf6cc; /*$yellow2 20%tint*/
}

.errorMarker--message {
  font-family: $web-safe-font;
  color: $grey85;
  font-size: 12px;
}
.button--scrollToError {
    // float: right;
    // position: absolute;
    // right: 4px;
    display: block;
    // text-align: right;
    font-family: $web-safe-font;
    font-weight: bold;
    font-size: 12px;
    color: $blue1;
    padding: 4px 0;
}
.fixed-bottom {
  position: fixed;
  bottom: 12px;
  left: 12px;
  padding: 0;
  margin: 0;
  z-index: 20;

  .errorMarker {

    .errorMarker--icon {
      width: 36px;
      .triangle-arrow__top {
        display: none;
      }
    }
    .errorMarker--messageWrap {
        min-width: 300px;
        max-width: 400px;
    }
  }
  .button--scrollToError {
      display: block;
  }

}

.toaster {
  position: fixed;
  bottom: 24px;
  left: 24px;
  z-index: 20;
}
.toaster--toast {
  margin-top: 12px;
display: none;
  visibility: hidden;

  &.show {
    display: block;
  }
  .errorMarker--messageWrap {
    width: 300px;
  }

}
