/**
 * Paths
 */
/**
 * FIL Brand colours
 * Note: 1 = Darkest of palette
 */
/**
 * The Grey array
 */
/**
 * FIL Funds Network colours
 */
/**
 * FIL Charting Colours
 * Note: charting colours are named in the order they should be used
 */
/**
 * Helper / Non specific colours
 */
/**
 * Colour arrays
 */
@font-face {
  font-family: 'neuzeit_grotesk';
  src: url("../assets/fonts/neuzeitgro/light/neuzeitgro-lig.eot");
  src: url("../assets/fonts/neuzeitgro/light/neuzeitgro-lig.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/neuzeitgro/light/neuzeitgro-lig.woff2") format("woff2"), url("../assets/fonts/neuzeitgro/light/neuzeitgro-lig.woff") format("woff"), url("../assets/fonts/neuzeitgro/light/neuzeitgro-lig.ttf") format("truetype"), url("../assets/fonts/neuzeitgro/light/neuzeitgro-lig.svg#neuzeit_grotesklight") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'neuzeit_grotesk';
  src: url("../assets/fonts/neuzeitgro/regular/neuzeitgro-reg.eot");
  src: url("../assets/fonts/neuzeitgro/regular/neuzeitgro-reg.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/neuzeitgro/regular/neuzeitgro-reg.woff2") format("woff2"), url("../assets/fonts/neuzeitgro/regular/neuzeitgro-reg.woff") format("woff"), url("../assets/fonts/neuzeitgro/regular/neuzeitgro-reg.ttf") format("truetype"), url("../assets/fonts/neuzeitgro/regular/neuzeitgro-reg.svg#neuzeit_groteskregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'neuzeit_grotesk';
  src: url("../assets/fonts/neuzeitgro/bold/neuzeitgro-bol.eot");
  src: url("../assets/fonts/neuzeitgro/bold/neuzeitgro-bol.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/neuzeitgro/bold/neuzeitgro-bol.woff2") format("woff2"), url("../assets/fonts/neuzeitgro/bold/neuzeitgro-bol.woff") format("woff"), url("../assets/fonts/neuzeitgro/bold/neuzeitgro-bol.ttf") format("truetype"), url("../assets/fonts/neuzeitgro/bold/neuzeitgro-bol.svg#neuzeit_groteskbold") format("svg");
  font-weight: bold;
  font-style: normal; }

html {
  box-sizing: border-box;
  overflow-y: scroll !important; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body {
  margin: 0;
  padding: 0; }

.bg-img-wrap {
  max-width: 1913px;
  height: 3436px;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden; }

.bg-img {
  width: 100%;
  height: 100%;
  background-position: center;
  position: absolute;
  top: 0; }

.bg-full-form {
  background-image: url("../assets/full-form.png"); }

.tabGroup {
  width: 1223px;
  height: 90px;
  overflow: hidden;
  position: relative;
  margin: 200px auto 0 auto; }

.tabGroup--scrollArea {
  position: absolute;
  width: 3000px;
  left: 0px; }

.tabGroup--buttonWrap {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%; }

.tabGroup--button {
  padding: 0 13px;
  height: 100%;
  float: left; }

.tab {
  width: 232px;
  padding: 10px 14px;
  float: left;
  border-right: 1px solid #BFBFBF; }

.tab--textrow {
  display: block;
  width: 100%;
  text-overflow: ellipsis; }

.tab--textrow__1 {
  font-size: 26px;
  font-weight: 300;
  color: #262626; }

.tab--textrow__2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: italic;
  color: #666666; }

.tab--textrow__3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #666666; }
