@charset "UTF-8";
/**
 * Paths
 */
/**
 * FIL Brand colours
 * Note: 1 = Darkest of palette
 */
/**
 * The Grey array
 */
/**
 * FIL Funds Network colours
 */
/**
 * FIL Charting Colours
 * Note: charting colours are named in the order they should be used
 */
/**
 * Helper / Non specific colours
 */
/**
 * Colour arrays
 */
@font-face {
  font-family: 'neuzeit_grotesk';
  src: url("../assets/fonts/neuzeitgro/light/neuzeitgro-lig.eot");
  src: url("../assets/fonts/neuzeitgro/light/neuzeitgro-lig.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/neuzeitgro/light/neuzeitgro-lig.woff2") format("woff2"), url("../assets/fonts/neuzeitgro/light/neuzeitgro-lig.woff") format("woff"), url("../assets/fonts/neuzeitgro/light/neuzeitgro-lig.ttf") format("truetype"), url("../assets/fonts/neuzeitgro/light/neuzeitgro-lig.svg#neuzeit_grotesklight") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'neuzeit_grotesk';
  src: url("../assets/fonts/neuzeitgro/regular/neuzeitgro-reg.eot");
  src: url("../assets/fonts/neuzeitgro/regular/neuzeitgro-reg.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/neuzeitgro/regular/neuzeitgro-reg.woff2") format("woff2"), url("../assets/fonts/neuzeitgro/regular/neuzeitgro-reg.woff") format("woff"), url("../assets/fonts/neuzeitgro/regular/neuzeitgro-reg.ttf") format("truetype"), url("../assets/fonts/neuzeitgro/regular/neuzeitgro-reg.svg#neuzeit_groteskregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'neuzeit_grotesk';
  src: url("../assets/fonts/neuzeitgro/bold/neuzeitgro-bol.eot");
  src: url("../assets/fonts/neuzeitgro/bold/neuzeitgro-bol.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/neuzeitgro/bold/neuzeitgro-bol.woff2") format("woff2"), url("../assets/fonts/neuzeitgro/bold/neuzeitgro-bol.woff") format("woff"), url("../assets/fonts/neuzeitgro/bold/neuzeitgro-bol.ttf") format("truetype"), url("../assets/fonts/neuzeitgro/bold/neuzeitgro-bol.svg#neuzeit_groteskbold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'fidelity-icon-font';
  src: url("../assets/fonts/iconfont//fidelity-icon-font.eot?b5b48q");
  src: url("../assets/fonts/iconfont//fidelity-icon-font.eot?b5b48q#iefix") format("embedded-opentype"), url("../assets/fonts/iconfont//fidelity-icon-font.woff2?b5b48q") format("woff2"), url("../assets/fonts/iconfont//fidelity-icon-font.ttf?b5b48q") format("truetype"), url("../assets/fonts/iconfont//fidelity-icon-font.woff?b5b48q") format("woff"), url("../assets/fonts/iconfont//fidelity-icon-font.svg?b5b48q#fidelity-icon-font") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fidelity-icon-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-chevron-d-bold:before {
  content: ""; }

.icon-chevron-d-light:before {
  content: ""; }

.icon-chevron-d-regular:before {
  content: ""; }

.icon-chevron-l-bold:before {
  content: ""; }

.icon-chevron-l-light:before {
  content: ""; }

.icon-chevron-l-regular:before {
  content: ""; }

.icon-chevron-r-bold:before {
  content: ""; }

.icon-chevron-r-light:before {
  content: ""; }

.icon-chevron-r-regular:before {
  content: ""; }

.icon-chevron-u-bold:before {
  content: ""; }

.icon-chevron-u-light:before {
  content: ""; }

.icon-chevron-u-regular:before {
  content: ""; }

.icon-cross-bold:before {
  content: ""; }

.icon-cross-light:before {
  content: ""; }

.icon-cross-regular:before {
  content: ""; }

.icon-plus-bold:before {
  content: ""; }

.icon-plus-light:before {
  content: ""; }

.icon-plus-regular:before {
  content: ""; }

.icon-pdf-small:before {
  content: ""; }

.icon-external-link:before {
  content: ""; }

.icon-tick-bold:before {
  content: ""; }

.icon-tick-light:before {
  content: ""; }

.icon-tick-regular:before {
  content: ""; }

.icon-triangle-u:before {
  content: ""; }

.icon-triangle-d:before {
  content: "󩡓"; }

.icon-triangle-r:before {
  content: ""; }

.icon-triangle-l:before {
  content: ""; }

.icon-cog-14:before {
  content: ""; }

.icon-globe-14:before {
  content: ""; }

.icon-lock-14:before {
  content: ""; }

.icon-calendar-14:before {
  content: ""; }

.icon-coinstack-14:before {
  content: ""; }

.icon-medal-14:before {
  content: ""; }

.icon-calendar-plus-14:before {
  content: ""; }

.icon-person-filled-14:before {
  content: ""; }

.icon-search-14:before {
  content: ""; }

.icon-mappin-filled-14:before {
  content: ""; }

.icon-info-circle-filled-14:before {
  content: ""; }

.icon-info-circle-14:before {
  content: ""; }

.icon-warning-triangle-filled-14:before {
  content: ""; }

.icon-warning-triangle-14:before {
  content: ""; }

.icon-clock-14:before {
  content: ""; }

.icon-computer-14:before {
  content: ""; }

.icon-exit-left-14:before {
  content: ""; }

.icon-person-circle-filled-14:before {
  content: ""; }

.icon-download-14:before {
  content: ""; }

.icon-squares-overlap-14:before {
  content: ""; }

.icon-card-cvc:before {
  content: ""; }

.icon-clipboard-tick:before {
  content: ""; }

.icon-newspaper:before {
  content: ""; }

.icon-letter-open:before {
  content: ""; }

.icon-spyglass:before {
  content: ""; }

.icon-select:before {
  content: ""; }

.icon-person:before {
  content: ""; }

.icon-check-mail:before {
  content: ""; }

.icon-help-circle:before {
  content: ""; }

.icon-person-lock:before {
  content: ""; }

.icon-letter:before {
  content: ""; }

.icon-smartphone:before {
  content: ""; }

.icon-eye:before {
  content: ""; }

.icon-circle-tick:before {
  content: ""; }

.icon-info-circle:before {
  content: ""; }

.icon-star:before {
  content: ""; }

.icon-star-filled:before {
  content: ""; }

.icon-ellipsis:before {
  content: ""; }

.icon-warning-triangle-filled:before {
  content: ""; }

.icon-warning-circle-filled:before {
  content: ""; }

.icon-chart-plus:before {
  content: ""; }

.icon-circle-minus:before {
  content: ""; }

.icon-circle-plus:before {
  content: ""; }

.icon-download:before {
  content: ""; }

.icon-spyglass-chart:before {
  content: ""; }

.icon-printer:before {
  content: ""; }

.icon-refresh:before {
  content: ""; }

.icon-cog:before {
  content: ""; }

.icon-person-plus:before {
  content: ""; }

.icon-coins-sterling:before {
  content: ""; }

.icon-arrow-down:before {
  content: ""; }

.icon-arrow-up:before {
  content: ""; }

.icon-add:before {
  content: ""; }

.icon-close:before {
  content: ""; }

.icon-chart:before {
  content: ""; }

.icon-market:before {
  content: ""; }

.icon-hand-coins:before {
  content: ""; }

.icon-globe:before {
  content: ""; }

.icon-booklet-chart:before {
  content: ""; }

.icon-computer:before {
  content: ""; }

.icon-tick:before {
  content: ""; }

.icon-hand:before {
  content: ""; }

.icon-movie:before {
  content: ""; }

.icon-down-sort:before {
  content: ""; }

.icon-up-sort:before {
  content: ""; }

.icon-chevron-down-s:before {
  content: ""; }

.icon-chevron-up-s:before {
  content: ""; }

.icon-chevron-down-m:before {
  content: ""; }

.icon-chevron-up-m:before {
  content: ""; }

.icon-menu-burger:before {
  content: ""; }

.icon-no-entry:before {
  content: ""; }

.icon-square:before {
  content: ""; }

.icon-line:before {
  content: ""; }

.icon-droplet:before {
  content: ""; }

.icon-droplet-filled:before {
  content: ""; }

.icon-droplet-alt:before {
  content: ""; }

.icon-droplet-alt-filled:before {
  content: ""; }

.icon-circle-right:before {
  content: ""; }

.icon-circle-wave:before {
  content: ""; }

.icon-circle-zig:before {
  content: ""; }

.icon-piggybank:before {
  content: ""; }

.icon-home:before {
  content: ""; }

.icon-quantitative:before {
  content: ""; }

.icon-hand-point:before {
  content: ""; }

.icon-exit-right:before {
  content: ""; }

.icon-calendar:before {
  content: ""; }

.icon-clock:before {
  content: ""; }

.icon-person-help:before {
  content: ""; }

.icon-lock-tick:before {
  content: ""; }

.icon-leaf:before {
  content: ""; }

.icon-computer-tick:before {
  content: ""; }

.icon-smartphone-chatbubble:before {
  content: ""; }

.icon-coinstack-cog:before {
  content: ""; }

.icon-chevron-left-m:before {
  content: ""; }

.icon-chevron-right-m:before {
  content: ""; }

.icon-pencil:before {
  content: ""; }

.icon-tag:before {
  content: ""; }

.icon-medal:before {
  content: ""; }

.icon-bookmark-star:before {
  content: ""; }

.icon-smartphone-flip:before {
  content: ""; }

.icon-back:before {
  content: ""; }

.icon-forward:before {
  content: ""; }

.icon-pause:before {
  content: ""; }

.icon-stop:before {
  content: ""; }

.icon-play:before {
  content: ""; }

.icon-map-pin:before {
  content: ""; }

.icon-doc-spyglass:before {
  content: ""; }

.icon-doc-pdf:before {
  content: ""; }

.icon-hand-docs:before {
  content: ""; }

.icon-doc-stacked:before {
  content: ""; }

.icon-pencil-lock:before {
  content: ""; }

.icon-paperclip:before {
  content: ""; }

.icon-coinstack:before {
  content: ""; }

.icon-controlpanel:before {
  content: ""; }

.icon-browser-plus:before {
  content: ""; }

.icon-chevron-right-s:before {
  content: ""; }

.icon-chevron-left-s:before {
  content: ""; }

.icon-circle-filled:before {
  content: ""; }

.icon-circle-dashed:before {
  content: ""; }

.icon-bookmark-star-filled:before {
  content: ""; }

.icon-doc-csv:before {
  content: ""; }

.icon-logo-facebook:before {
  content: ""; }

.icon-logo-twitter:before {
  content: ""; }

.icon-logo-xing:before {
  content: ""; }

.icon-logo-googleplus:before {
  content: ""; }

.icon-logo-linkedin:before {
  content: ""; }

.icon-logo-youtube:before {
  content: ""; }

.icon-messages-filled:before {
  content: ""; }

.icon-openbook:before {
  content: ""; }

.icon-doc-chevron-r:before {
  content: ""; }

.icon-doc-arrow-d:before {
  content: ""; }

.icon-share:before {
  content: ""; }

.icon-share-filled:before {
  content: ""; }

.icon-person-double:before {
  content: ""; }

.icon-chatbubble:before {
  content: ""; }

.icon-chatbubble-letter:before {
  content: ""; }

.icon-chatbubble-letter-filled:before {
  content: ""; }

.icon-calendar-circle-plus:before {
  content: ""; }

.icon-mappin-filled:before {
  content: ""; }

html {
  box-sizing: border-box;
  overflow-y: scroll !important; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body {
  margin: 0;
  padding: 0; }

.bg-img-wrap {
  max-width: 1913px;
  height: 3436px;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden; }

.bg-img {
  width: 100%;
  height: 100%;
  background-position: center;
  position: absolute;
  top: 0; }

.bg-full-form {
  background-image: url("../assets/full-form.png"); }

.tabGroup {
  width: 1222px;
  height: 152px;
  margin: 139px auto 0 auto;
  position: relative; }

.tabGroup--scrollWrap {
  width: 1155px;
  height: 152px;
  padding-top: 60px;
  overflow: hidden;
  position: relative; }

.tabGroup--scrollArea {
  position: absolute;
  width: 4000px;
  left: 0px; }

.tabGroup--buttonWrap {
  position: absolute;
  right: 0;
  top: 60px;
  bottom: 0px;
  font-size: 0; }

.buttonWrap--errorWrap {
  position: absolute;
  top: -46px;
  left: -13px; }

.tabGroup--errorContainer {
  opacity: 0;
  position: absolute;
  bottom: 0;
  height: 92px;
  width: 8px;
  background: #f5d6d6;
  /*red2 20%tint*/
  z-index: 20; }

.tabGroup--errorContainer__left {
  left: 0; }

.tabGroup--errorContainer__right {
  right: 75px; }

.tabGroup--button {
  padding: 0 18px;
  height: 100%;
  display: inline-block;
  font-size: 24px;
  color: #016FAD;
  background: #FFFFFF;
  position: relative;
  cursor: pointer;
  border: 1px solid #BFBFBF; }
  .tabGroup--button:hover {
    background-color: #016FAD;
    color: #FFFFFF; }
  .tabGroup--button span {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.tabGroup--button__left {
  border-right: none; }

.tab {
  width: 232px;
  padding: 10px 14px;
  float: left;
  border-left: 1px solid #BFBFBF;
  border-bottom: 1px solid #BFBFBF;
  border-top: 1px solid #BFBFBF;
  background: #FFFFFF;
  position: relative; }
  .tab:last-child {
    border-right: 1px solid #BFBFBF; }
  .tab:before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0px;
    right: 0px;
    display: block;
    height: 4px; }

.tab__blue:before {
  background: #6893b0; }

.tab__purple:before {
  background: #6f259e; }

.tab__green:before {
  background: #31dec7; }

.tab__brown:before {
  background: #653e08; }

.tab__inactive {
  background: #F7F7F7; }
  .tab__inactive .tab--textrow {
    color: #666666; }

.tab__active {
  background: #FFFFFF; }
  .tab__active:before {
    content: '';
    position: absolute;
    top: -7px;
    left: -1px;
    right: 0px;
    display: block;
    height: 10px; }
  .tab__active:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0px;
    right: 0px;
    display: block;
    background: white;
    height: 2px; }

.tab__error {
  background: #faeaea; }

.tab--errorWrap {
  position: absolute;
  top: -47px;
  left: 12px;
  right: 12px; }

.tab--textrow {
  display: block;
  width: 100%;
  text-overflow: ellipsis; }

.tab--textrow__1 {
  font-size: 26px;
  line-height: 30px;
  font-weight: 300;
  color: #262626;
  font-family: "neuzeit_grotesk", Arial, Helvetica, sans-serif; }

.tab--textrow__2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-style: italic;
  color: #666666; }

.tab--textrow__3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #666666; }

.errorWrap {
  width: 1222px;
  position: relative;
  margin: 1616px auto 0px auto;
  padding-left: 21px; }

.errorWrap2 {
  width: 1222px;
  position: relative;
  margin: 74px auto 0px auto;
  padding-left: 665px; }

.errorMarker {
  position: relative;
  display: table;
  cursor: help; }

.errorMarker--floating {
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.2); }

.errorMarker--slideOut {
  overflow: hidden; }

.errorMarker--icon {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 24px;
  padding: 6px;
  position: relative;
  z-index: 10; }

.triangle-arrow__top {
  position: absolute;
  height: 0;
  width: 0;
  top: -12px;
  left: 12px;
  border-style: solid;
  border-width: 6px;
  border-color: transparent transparent #CC3333 transparent; }

.triangle-arrow__bottom {
  position: absolute;
  height: 0;
  width: 0;
  bottom: -12px;
  left: 12px;
  border-style: solid;
  border-width: 6px;
  border-color: #CC3333 transparent transparent transparent; }

.errorMarker--messageWrap {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  padding: 4px 14px; }
  .errorMarker--messageWrap.message-is-right {
    -ms-transform: translate(-100%, 0%);
    transform: translate(-100%, 0%); }

.errorMarker--icon__red {
  background: #CC3333;
  color: #FFFFFF; }

.errorMarker--messageWrap__red {
  background: #f5d6d6;
  /*red2 20%tint*/ }

.errorMarker--icon__yellow {
  background: #F0D202;
  color: #000000; }

.errorMarker--messageWrap__yellow {
  background: #fcf6cc;
  /*$yellow2 20%tint*/ }

.errorMarker--message {
  font-family: Arial, Helvetica, sans-serif;
  color: #262626;
  font-size: 12px; }

.button--scrollToError {
  display: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #006193;
  margin: 4px 0; }

.fixed-bottom {
  position: fixed;
  bottom: 12px;
  left: 12px;
  padding: 0;
  margin: 0;
  z-index: 20; }
  .fixed-bottom .errorMarker .errorMarker--icon {
    width: 36px; }
    .fixed-bottom .errorMarker .errorMarker--icon .triangle-arrow__top {
      display: none; }
  .fixed-bottom .errorMarker .errorMarker--messageWrap {
    min-width: 300px;
    max-width: 400px; }
  .fixed-bottom .button--scrollToError {
    display: block; }
